<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Aula Inteligente | Tablero de Control</title>
  <!--STYLES-->
  <link rel="stylesheet" href="/styles/estilos-index.css">
  <link rel="stylesheet" href="/styles/estilos-login.css">
  <link rel="stylesheet" href="/styles/foundation.css">
  <link rel="stylesheet" href="/styles/foundation.min.css">
  <link rel="stylesheet" href="/styles/importer.css">
  <link rel="stylesheet" href="/styles/normalize.css">
  <!--STYLES END-->
</head>
<body>
<div class="row full-width">
  <div class="large-12 columns">
    <div class="row logo-container">
      <div class="large-3 columns small-12">
        <img src="./images/logo-uai1.png" alt="logo-uai" class="logo">
      </div>
    </div>
    <div class="row full-width">
      <div class="large-12 columns">
        <nav class="top-bar" data-topbar>
          <ul class="title-area">
            <li class="name">
              <h1>
                <a href="#">
                  Aula Inteligente
                </a>
              </h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
          </ul>
          <section class="top-bar-section">
            <ul class="right">
              <li><a href="/asistencia">Asistencia</a></li>
            </ul>
          </section>
        </nav>
      </div>
    </div>
    <div class="row full-width">
      <div class="large-12 large-centered">
        aaaaaaaaaaaaaaaa
      </div>
    </div>

    <footer class="row full-width">
      <div class="large-12 columns"><hr/>
        <div class="row">
          <div class="large-6 columns">
            <p>© Universidad Abierta Interamericana. 2015.</p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!--SCRIPTS-->
<script src="/js/dependencies/sails.io.js"></script>
<script src="/js/dependencies/jquery.js"></script>
<script src="/js/dependencies/modernizr.js"></script>
<script src="/js/dependencies/foundation.min.js"></script>
<!--SCRIPTS END-->
<script>
  $(document).foundation();
</script>
<script src="js/tablero-controller.js"></script>
</body>
</html>
