.login-container {    
    margin-top: 7.5%;
}

.logo-container .logo-uai {
    margin-bottom: 15px;
}

.button-group--login .button-login {
    background-color: #744044;
}

.input-group .input-login {
    margin-left: 0.7em;
    width: 75%;
}

body {

}